{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"href="{% static 'styles.css' %}"/>
    <title>Registeration</title>
</head>
<body>
    <header class="main-header">
    <h1 class="shop-name shop-name-large"> PAINTING SHOP</h1>
    </header>
    <center>
    <form action ="register" method="post">
        {% csrf_token %}
       

        <input type ="text" name ="first_name"  placeholder= "First Name" required><br>
        <input type ="text" name ="last_name" placeholder= "Last Name" required><br>
        <input type ="text" name ="username" placeholder= "Username" required><br>
        <input type ="email" name ="email" placeholder= "Email"  pattern="[^ @]*@[^ @]*" required><br>
        <input type ="password" name ="password1" placeholder= "Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
        <input type ="password" name ="password2" placeholder= "Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
		<input type ="submit">

    </center> 

    </form>
    <center>
    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
</center>

</body>
</html>
  			